/* Removing wiki elements
-------------------------------------------------- */

#catlinks,
#footer-box,
#p-logo,
#search-controls,
#content,
#bodyContent,
#content,
.firstHeading,
.visualClear {
    display: none;
}

h1, h2, h3, h4 {
	border: none;
    padding: 0px !important;
    margin-bottom: 5px;
}

a:visited {
    color: #a5eb3c;
}

a.btn:visited {
    color: #333;
}


hr {
    margin-top: 0px;
}

#top-section,
#globalWrapper {
    width: 100%;
}


/* Extra fonts
-------------------------------------------------- */

/*@font-face {
    font-family: 'dirty_egoregular';
    src: url('http://oveoyas.github.io/igem-ntnu-2012/fonts/dirtyego-webfont.eot');
    src: url('http://oveoyas.github.io/igem-ntnu-2012/fonts/dirtyego-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://oveoyas.github.io/igem-ntnu-2012/fonts/dirtyego-webfont.woff') format('woff'),
         url('http://oveoyas.github.io/igem-ntnu-2012/fonts/dirtyego-webfont.ttf') format('truetype'),
         url('http://oveoyas.github.io/igem-ntnu-2012/fonts/dirtyego-webfont.svg#dirty_egoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/


/* Responsiveness tweaks for navbar and header
-------------------------------------------------- */

@media (max-width: 1200px) {
    .hidden-navbar {
        display: none !important;
    }

}

@media (max-width: 767px) {
    .hidden-header {
        display: none !important;
    }   
}

.header .heading-small a{
    font-size: 40pt !important;
    line-height: 32pt;
    text-align: center;
}

@media (max-width: 330px) {
    .header .heading-small a {
        font-size: 33pt !important;
        line-height: 27pt !important;
    }
    .header .heading a {
        margin-left: 128px !important;
        margin-top: -50px !important;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .navbar-fixed-top .container {
        width: 860px !important;
    }
}

/* Medal labels
-------------------------------------------------- */

.label-gold {
    background-color: #D9D919;
}

.label-silver {
    background-color: #E6E8FA;
}

.label-bronze {
    background-color: #A67D3D;
}



/* Menubar fixes
-------------------------------------------------- */

.left-menu li a,
.right-menu li a {
    background-color: transparent;
    font-family: ubuntu;
    font-size:10px;
}

.right-menu {
    margin-right: 0px;
}

.left-menu {
    margin-left: 0px;
}

.left-menu li,
.right-menu li a {
    color: transparent !important;
}

.left-menu:hover {
    background-color: transparent;
}

.right-menu:hover li a {
    color: #ffffff !important;
}

/* White carousel links
-------------------------------------------------- */

a.carousel-control {
    color: #ffffff !important;
}

.carousel-caption h4 {
    padding-top: 0px;
}

/* Social icons in navbar
-------------------------------------------------- */

.nav #fb-icon a:hover i {
    color: white;
    text-shadow: 3px 3px 0px #3b5998;
}

.nav #twitter-icon a:hover i {
    color: white;
    text-shadow: 3px 3px 0px #9ae4e8;
}

/*
.circle {
    width: 30px;
    height: 30px; 
    background: #999; 
    -moz-border-radius: 15px; 
    -webkit-border-radius: 15px; 
    border-radius: 25px;
}
*/

/* Header
-------------------------------------------------- */
.header {
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 150px;
    background-color: #eee;

   /* fallback image */
   /* background-image: url(images/fallback-gradient.png); */

   /* Safari 4+, Chrome 1-9 */
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#999), to(#eee));

   /* Safari 5.1+, Mobile Safari, Chrome 10+ */
   background-image: -webkit-linear-gradient(top, #999, #eee); 

   /* Firefox 3.6+ */
   background-image: -moz-linear-gradient(top, #999, #eee);
 
   /* IE 10+ */
   background-image: -ms-linear-gradient(top, #999, #eee);

   /* Opera 11.10+ */
   background-image: -o-linear-gradient(top, #999, #eee);
}

.header .container {
	background: url("http://2012.igem.org/wiki/images/3/30/Igem_header_bacteria.png") no-repeat bottom left transparent;
	height: 150px;
}

.header .heading a,
.header .heading a:hover,
.header .heading a:active {
    position: absolute;
    top: 50%;
	margin: -25px 0px 0px 150px;
    vertical-align: middle;
	font-family: "Jolly Lodger";
	font-size: 60pt;
    text-shadow: 5px 5px 5px #a5eb3c;
    color: #333;
    text-decoration: none;
}

.header .heading a:hover {
    color: #555;
    text-shadow: 8px 8px 5px #a5eb3c;
}

.sub-heading{
    position: absolute;
    top: 50%;
	font-size: 20pt;
    cursor: default;  
}

.sub-heading-small {
    font-size: 20pt;
    vertical-align: middle;
    cursor: default;
}

#sub-heading1 {
	margin: 25px 0px 0px 250px;
    font-family: ubuntu;
    font-size: 40pt;
    font-weight: bold;
    text-shadow: 2px 2px 0px #84d298;
}

#sub-heading2 {
	margin: 31px 0px 0px 540px;
	font-family: "Jolly Lodger";
    font-size: 40pt;
    font-style: italic;
    text-shadow: 5px 5px 5px #a5eb3c;
}

#ntnu-logo {
    margin-top: 20px;
}

#igem-logo {
    margin-top: 20px;
}

/* Footer
-------------------------------------------------- */
.footer {
    margin-top: 45px;
    padding: 35px 0 36px;
    border-top: 1px solid #000000;
    background-color: #222;
    color: #eee;
    height: 80px;
}
.footer p {
    margin-bottom: 0;
    color: #eee;
}

.top-pointer,
.top-pointer a:hover {
    font-size: 36pt;
    font-family: "Jolly Lodger";
    text-decoration: none;
}

/* Navbar styling
-------------------------------------------------- */

.nav .dropdown-menu li a{
    font-family: ubuntu !important;
    color: #333333 !important;
    font-size: 14px;
}

@media (max-width: 1200px) {
    .nav .dropdown-menu li a {
        color: #999999 !important;
    }
    .nav .dropdown-menu li:hover a {
        color: #333333 !important;
    }
}

.nav li a{
    font-family: "Jolly Lodger";
    font-size: 24px;
}

.nav a:hover,
.navbar .nav > li > a:focus:hover,
.navbar .nav li.dropdown.open > .dropdown-toggle {
    color: #a5eb3c;
}

.nav a:hover i,
.nav .active i,
.navbar .nav > li > a:active i,
.navbar .nav li.dropdown.open > .dropdown-toggle i {
    color: #84d298;
}

.navbar .nav > li > a:focus {
    color: #999999;
}

/* Extra margin to account for header
-------------------------------------------------- */

.main-container {
	margin-top: -20px;
    padding: 20px;
    background: #ffffff;
  -moz-box-shadow:    0px 3px 5px 6px #ccc;
  -webkit-box-shadow: 0px 3px 5px 6px #ccc;
  box-shadow:         0px 3px 5px 6px #ccc;
}

.index-container {
    margin-top: 110px;
}

.page-header-top {
    padding-bottom: 9px;
    margin: 100px 0 20px;
    border-bottom: none;
}

/* Navbar fixes
-------------------------------------------------- */

.navbar-below-header {
	position: absolute;
	top: 150px;
	right: 0;
	left: 0;
	z-index: 1030;
	margin-bottom: 0; // remove 18px margin for static navbar

}

.navbar-below-header .navbar-inner {
	padding-left:  0;
	padding-right: 0;
	border-radius: 0 0 0 0;
}
.navbar-below-header .container {
	width: 940px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.navbar-below-header .container,
	.navbar-below-header .container {
    	width: 724px;
	}
}

@media (min-width: 1200px) {
	.navbar-below-header .container,
	.navbar-below-header .container {
		width: 1170px;
	}
}

/* Table fixes
-------------------------------------------------- */
.table th,
.table td {
    text-align: center !important;
}

.table.table-left td{
    text-align: left !important;
}

.sortable th {
	cursor: default;
}

.wikitable-centered {
    text-align: center;
    margin: 1em auto 1em auto;
}

.toc, #toc {
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  padding: 19px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#toc ul, .toc ul, #toctitle {
    margin: 0 15px 15px 15px;}
#toctitle {
    margin-bottom: 0px;
}
.toc ul li, #toctitle {
    padding-left: 12px;
    text-indent: -12px;
    /*width: 200px;*/}
.toc ul li ul li {
    padding-left: 30px;
    text-indent: -24px;
    /*width: 170px;*/}
#toc ul ul, .toc ul ul {
    margin: 0;}


/* Firefox font fixes
-------------------------------------------------- */

@-moz-document url-prefix() {    
    [class^="icon-"],
    [class*=" icon-"] {
      display: inline-block;
      width: 14px;
      height: 14px;
      *margin-right: .3em;
      line-height: 14px;
      vertical-align: text-top;
      background-image: url("../img/glyphicons-halflings.png");
      background-position: 14px 14px;
      background-repeat: no-repeat;
      margin-top: 1px;
    }
    /* White icons with optional class, or on hover/focus/active states of certain elements */
    .icon-white,
    .nav-pills > .active > a > [class^="icon-"],
    .nav-pills > .active > a > [class*=" icon-"],
    .nav-list > .active > a > [class^="icon-"],
    .nav-list > .active > a > [class*=" icon-"],
    .navbar-inverse .nav > .active > a > [class^="icon-"],
    .navbar-inverse .nav > .active > a > [class*=" icon-"],
    .dropdown-menu > li > a:hover > [class^="icon-"],
    .dropdown-menu > li > a:focus > [class^="icon-"],
    .dropdown-menu > li > a:hover > [class*=" icon-"],
    .dropdown-menu > li > a:focus > [class*=" icon-"],
    .dropdown-menu > .active > a > [class^="icon-"],
    .dropdown-menu > .active > a > [class*=" icon-"],
    .dropdown-submenu:hover > a > [class^="icon-"],
    .dropdown-submenu:focus > a > [class^="icon-"],
    .dropdown-submenu:hover > a > [class*=" icon-"],
    .dropdown-submenu:focus > a > [class*=" icon-"] {
      background-image: url("../img/glyphicons-halflings-white.png");
    }
    .icon-glass {
      background-position: 0      0;
    }
    .icon-music {
      background-position: -24px 0;
    }
    .icon-search {
      background-position: -48px 0;
    }
    .icon-envelope {
      background-position: -72px 0;
    }
    .icon-heart {
      background-position: -96px 0;
    }
    .icon-star {
      background-position: -120px 0;
    }
    .icon-star-empty {
      background-position: -144px 0;
    }
    .icon-user {
      background-position: -168px 0;
    }
    .icon-film {
      background-position: -192px 0;
    }
    .icon-th-large {
      background-position: -216px 0;
    }
    .icon-th {
      background-position: -240px 0;
    }
    .icon-th-list {
      background-position: -264px 0;
    }
    .icon-ok {
      background-position: -288px 0;
    }
    .icon-remove {
      background-position: -312px 0;
    }
    .icon-zoom-in {
      background-position: -336px 0;
    }
    .icon-zoom-out {
      background-position: -360px 0;
    }
    .icon-off {
      background-position: -384px 0;
    }
    .icon-signal {
      background-position: -408px 0;
    }
    .icon-cog {
      background-position: -432px 0;
    }
    .icon-trash {
      background-position: -456px 0;
    }
    .icon-home {
      background-position: 0 -24px;
    }
    .icon-file {
      background-position: -24px -24px;
    }
    .icon-time {
      background-position: -48px -24px;
    }
    .icon-road {
      background-position: -72px -24px;
    }
    .icon-download-alt {
      background-position: -96px -24px;
    }
    .icon-download {
      background-position: -120px -24px;
    }
    .icon-upload {
      background-position: -144px -24px;
    }
    .icon-inbox {
      background-position: -168px -24px;
    }
    .icon-play-circle {
      background-position: -192px -24px;
    }
    .icon-repeat {
      background-position: -216px -24px;
    }
    .icon-refresh {
      background-position: -240px -24px;
    }
    .icon-list-alt {
      background-position: -264px -24px;
    }
    .icon-lock {
      background-position: -287px -24px;
    }
    .icon-flag {
      background-position: -312px -24px;
    }
    .icon-headphones {
      background-position: -336px -24px;
    }
    .icon-volume-off {
      background-position: -360px -24px;
    }
    .icon-volume-down {
      background-position: -384px -24px;
    }
    .icon-volume-up {
      background-position: -408px -24px;
    }
    .icon-qrcode {
      background-position: -432px -24px;
    }
    .icon-barcode {
      background-position: -456px -24px;
    }
    .icon-tag {
      background-position: 0 -48px;
    }
    .icon-tags {
      background-position: -25px -48px;
    }
    .icon-book {
      background-position: -48px -48px;
    }
    .icon-bookmark {
      background-position: -72px -48px;
    }
    .icon-print {
      background-position: -96px -48px;
    }
    .icon-camera {
      background-position: -120px -48px;
    }
    .icon-font {
      background-position: -144px -48px;
    }
    .icon-bold {
      background-position: -167px -48px;
    }
    .icon-italic {
      background-position: -192px -48px;
    }
    .icon-text-height {
      background-position: -216px -48px;
    }
    .icon-text-width {
      background-position: -240px -48px;
    }
    .icon-align-left {
      background-position: -264px -48px;
    }
    .icon-align-center {
      background-position: -288px -48px;
    }
    .icon-align-right {
      background-position: -312px -48px;
    }
    .icon-align-justify {
      background-position: -336px -48px;
    }
    .icon-list {
      background-position: -360px -48px;
    }
    .icon-indent-left {
      background-position: -384px -48px;
    }
    .icon-indent-right {
      background-position: -408px -48px;
    }
    .icon-facetime-video {
      background-position: -432px -48px;
    }
    .icon-picture {
      background-position: -456px -48px;
    }
    .icon-pencil {
      background-position: 0 -72px;
    }
    .icon-map-marker {
      background-position: -24px -72px;
    }
    .icon-adjust {
      background-position: -48px -72px;
    }
    .icon-tint {
      background-position: -72px -72px;
    }
    .icon-edit {
      background-position: -96px -72px;
    }
    .icon-share {
      background-position: -120px -72px;
    }
    .icon-check {
      background-position: -144px -72px;
    }
    .icon-move {
      background-position: -168px -72px;
    }
    .icon-step-backward {
      background-position: -192px -72px;
    }
    .icon-fast-backward {
      background-position: -216px -72px;
    }
    .icon-backward {
      background-position: -240px -72px;
    }
    .icon-play {
      background-position: -264px -72px;
    }
    .icon-pause {
      background-position: -288px -72px;
    }
    .icon-stop {
      background-position: -312px -72px;
    }
    .icon-forward {
      background-position: -336px -72px;
    }
    .icon-fast-forward {
      background-position: -360px -72px;
    }
    .icon-step-forward {
      background-position: -384px -72px;
    }
    .icon-eject {
      background-position: -408px -72px;
    }
    .icon-chevron-left {
      background-position: -432px -72px;
    }
    .icon-chevron-right {
      background-position: -456px -72px;
    }
    .icon-plus-sign {
      background-position: 0 -96px;
    }
    .icon-minus-sign {
      background-position: -24px -96px;
    }
    .icon-remove-sign {
      background-position: -48px -96px;
    }
    .icon-ok-sign {
      background-position: -72px -96px;
    }
    .icon-question-sign {
      background-position: -96px -96px;
    }
    .icon-info-sign {
      background-position: -120px -96px;
    }
    .icon-screenshot {
      background-position: -144px -96px;
    }
    .icon-remove-circle {
      background-position: -168px -96px;
    }
    .icon-ok-circle {
      background-position: -192px -96px;
    }
    .icon-ban-circle {
      background-position: -216px -96px;
    }
    .icon-arrow-left {
      background-position: -240px -96px;
    }
    .icon-arrow-right {
      background-position: -264px -96px;
    }
    .icon-arrow-up {
      background-position: -289px -96px;
    }
    .icon-arrow-down {
      background-position: -312px -96px;
    }
    .icon-share-alt {
      background-position: -336px -96px;
    }
    .icon-resize-full {
      background-position: -360px -96px;
    }
    .icon-resize-small {
      background-position: -384px -96px;
    }
    .icon-plus {
      background-position: -408px -96px;
    }
    .icon-minus {
      background-position: -433px -96px;
    }
    .icon-asterisk {
      background-position: -456px -96px;
    }
    .icon-exclamation-sign {
      background-position: 0 -120px;
    }
    .icon-gift {
      background-position: -24px -120px;
    }
    .icon-leaf {
      background-position: -48px -120px;
    }
    .icon-fire {
      background-position: -72px -120px;
    }
    .icon-eye-open {
      background-position: -96px -120px;
    }
    .icon-eye-close {
      background-position: -120px -120px;
    }
    .icon-warning-sign {
      background-position: -144px -120px;
    }
    .icon-plane {
      background-position: -168px -120px;
    }
    .icon-calendar {
      background-position: -192px -120px;
    }
    .icon-random {
      background-position: -216px -120px;
      width: 16px;
    }
    .icon-comment {
      background-position: -240px -120px;
    }
    .icon-magnet {
      background-position: -264px -120px;
    }
    .icon-chevron-up {
      background-position: -288px -120px;
    }
    .icon-chevron-down {
      background-position: -313px -119px;
    }
    .icon-retweet {
      background-position: -336px -120px;
    }
    .icon-shopping-cart {
      background-position: -360px -120px;
    }
    .icon-folder-close {
      background-position: -384px -120px;
      width: 16px;
    }
    .icon-folder-open {
      background-position: -408px -120px;
      width: 16px;
    }
    .icon-resize-vertical {
      background-position: -432px -119px;
    }
    .icon-resize-horizontal {
      background-position: -456px -118px;
    }
    .icon-hdd {
      background-position: 0 -144px;
    }
    .icon-bullhorn {
      background-position: -24px -144px;
    }
    .icon-bell {
      background-position: -48px -144px;
    }
    .icon-certificate {
      background-position: -72px -144px;
    }
    .icon-thumbs-up {
      background-position: -96px -144px;
    }
    .icon-thumbs-down {
      background-position: -120px -144px;
    }
    .icon-hand-right {
      background-position: -144px -144px;
    }
    .icon-hand-left {
      background-position: -168px -144px;
    }
    .icon-hand-up {
      background-position: -192px -144px;
    }
    .icon-hand-down {
      background-position: -216px -144px;
    }
    .icon-circle-arrow-right {
      background-position: -240px -144px;
    }
    .icon-circle-arrow-left {
      background-position: -264px -144px;
    }
    .icon-circle-arrow-up {
      background-position: -288px -144px;
    }
    .icon-circle-arrow-down {
      background-position: -312px -144px;
    }
    .icon-globe {
      background-position: -336px -144px;
    }
    .icon-wrench {
      background-position: -360px -144px;
    }
    .icon-tasks {
      background-position: -384px -144px;
    }
    .icon-filter {
      background-position: -408px -144px;
    }
    .icon-briefcase {
      background-position: -432px -144px;
    }
    .icon-fullscreen {
      background-position: -456px -144px;
}
}